<template>
 <div>
  <b-navbar toggleable="lg" type="dark" variant="dark">
    <b-navbar-brand href="#"><b-button variant="dark" v-b-toggle.sidebar-menu><b-icon icon="list"></b-icon></b-button></b-navbar-brand>
    <b-navbar-brand href="#">Pendaftaran Peserta Didik</b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown text="User " right>
          <b-dropdown-item href="#" @click="logout"> Logout</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>

<script>
export default {
  name: 'NavBarComponent',
  created() {
    this.$router.go(1);
  },
  methods: {
    logout(){
      localStorage.removeItem('token');
      const auth = localStorage.getItem('token');
      if(auth==null){
          alert("Silahkan Login Kembali");
          this.$router.push("/");
      }else{
        this.$router.go();
        this.$router.push("/");
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
