<template>
  <div>
    <b-sidebar id="sidebar-menu" aria-labelledby="sidebar-menu-title" no-header shadow bg-variant="dark" text-variant="light" backdrop backdrop-variant="dark">
      <template #default="{ hide }">
        <div class="p-3">
          <div class="d-flex align-items-center flex-column">
          <b-avatar text="PPD" variant="primary" class="mb-3 mt-3" size="5rem"></b-avatar>
          <h4 id="sidebar-no-header-title">Pendaftaran Peserta Didik</h4>
          <div class="divider-menu"></div>
          </div>
          <nav class="mb-3">
            <b-nav vertical>
              <b-nav-item active @click="hide"><b-icon icon="bar-chart-fill"></b-icon><router-link to="/dashboard"> Dashboard</router-link></b-nav-item>
              <b-nav-item active @click="hide"><b-icon icon="house-fill"></b-icon><router-link to="/siswa"> Pendaftaran Siswa</router-link></b-nav-item>
              <b-nav-item active @click="hide"><b-icon icon="person-lines-fill"></b-icon><router-link to="/pendidikan"> Tabel Pendidikan</router-link></b-nav-item>
              <b-nav-item active @click="hide"><b-icon icon="house-fill"></b-icon><router-link to="/pekerjaan"> Tabel Pekerjaan</router-link></b-nav-item>
              <b-nav-item active @click="hide"><b-icon icon="house-fill"></b-icon><router-link to="/ayah"> Tabel Ayah</router-link></b-nav-item>
              <b-nav-item active @click="hide"><b-icon icon="house-fill"></b-icon><router-link to="/ibu"> Tabel Ibu</router-link></b-nav-item>
              <b-nav-item active @click="hide"><b-icon icon="house-fill"></b-icon><router-link to="/wali"> Tabel Wali</router-link></b-nav-item>
            </b-nav>
          </nav>
          <b-button variant="primary" block @click="hide">Hide</b-button>
        </div>
      </template>
    </b-sidebar>
  </div>
</template>

<script>
export default {
  name: 'SideBarComponent',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.nav-item > .nav-link{
  color: #FFF
}
.nav-item > .nav-link:hover{
  color: #CCC
}
.divider-menu{
  border: 1px solid #FFF;
  width: 100%;
}
</style>
