<template>
</template>

<script>
import axios from 'axios';
const URL = 'http://localhost:5000/ayah/view';
export default {
  data() {
    return {
      dataResponse: [],
    };
  },
  methods: {
    async fetchDataAxios() {
      try {
        const response = await axios.get(URL);
        this.dataResponse = response.data;
      } catch (error) {
        this.dataResponse = [];
      }
    },
  },
};
</script>


<style>
</style>