<template>
<div id="Login">
  <b-navbar toggleable="lg" type="dark" variant="dark">
    <b-navbar-brand href="#">Pendaftaran Peserta Didik</b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-navbar-nav class="ml-auto" right>
            <b-navbar-brand href="#"><router-link to="/registrasi">Registrasi</router-link></b-navbar-brand>
        </b-navbar-nav>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
  <b-container class="d-flex justify-content-center"><br/>
        <b-card class="box flex">
          <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="email" placeholder="Masukkan Email" v-model="email" />
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" placeholder="Masukkan Password" v-model="password" />
      </div>
    </div>
    <div class="control">
      <button class="button is-success" @click="loginSubmit">Login</button>
    </div>
          <hr />
          <div>
             Copyright © 2021 Made With ❤ in Cimahi By Syarifudin Yoga Pinasty
          </div>
        </b-card>
    </b-container>
</div>
</template>

<script>
// import axios
import axios from "axios";
export default {
  name: "Login",
  data() {
    return {
        email: '',
        password: ''
    };
  },
  methods: {
    // Create New product
    async loginSubmit() {
      //try {
        const response = await axios.post("http://localhost:5000/login", {
          email: this.email,
          password: this.password
        });
        const message = response.data.message;
        //alert(message);
        const token = response.data;
        if (message) {
          alert(message);
        }
        else if(token){
          this.$router.push("/dashboard");
          localStorage.setItem('token', token);
          console.log(response);
        }
    },
  },
};
</script>

<style>
</style>