<template>
<div id="Login">
  <b-navbar toggleable="lg" type="dark" variant="dark">
    <b-navbar-brand href="#">Pendaftaran Peserta Didik</b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-navbar-nav class="ml-auto" right>
            <b-navbar-brand href="#"><router-link to="/">Login</router-link></b-navbar-brand>
        </b-navbar-nav>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
  <b-container class="d-flex justify-content-center"><br/>
        <b-card class="box flex">
          <div class="field">
      <label class="label">ID</label>
      <div class="control">
        <input class="input" type="text" placeholder="Masukkan ID" v-model="id" readonly />
      </div>
    </div>
    <div class="field">
      <label class="label">Nama</label>
      <div class="control">
        <input class="input" type="text" placeholder="Masukkan Nama" v-model="nama" />
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="text" placeholder="Masukkan Email" v-model="email" />
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" placeholder="Masukkan Password" v-model="password" />
      </div>
    </div>
    <div class="field">
      <label class="label">No Telpon</label>
      <div class="control">
        <input class="input" type="text" placeholder="Masukkan No Telpon" v-model="no_telp" />
      </div>
    </div>
    <div class="field">
      <label class="label">Alamat</label>
      <div class="control">
        <input class="input" type="text" placeholder="Masukkan Alamat" v-model="alamat" />
      </div>
    </div>
    <div class="control">
      <button class="button is-success" @click="createRegister">Registrasi</button>
    </div>
          <hr />
          <div>
             Copyright © 2021 Made With ❤ in Cimahi By Syarifudin Yoga Pinasty
          </div>
        </b-card>
    </b-container>
</div>
</template>

<script>
// import axios
import axios from "axios";
export default {
  name: "Registrasi",
  data() {
    return {
        id: "",
        nama: "",
        email: "",
        password: "",
        no_telp: "",
        alamat: "",
    };
  },
  methods: {
    // Create New product
    async createRegister() {
      try {
        await axios.post("http://localhost:5000/login/regis", {
          id: this.id,
          nama: this.nama,
          email: this.email,
          password: this.password,
          no_telp: this.no_telp,
          alamat: this.alamat
        });
        this.id= "",
        this.nama= "",
        this.email= "",
        this.password= "",
        this.no_telp= "",
        this.alamat= "",
        this.$router.push("/");
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>

<style>
</style>