
<template>
  <div>
  <NavBarComponent/>
    <SideBarComponent/>
    <router-view></router-view>
  <b-container>
        <b-breadcrumb>
            <b-breadcrumb-item href="#">
                <b-icon icon="house-fill" aria-hidden="true"></b-icon><router-link to="/dashboard"> Dashboard</router-link></b-breadcrumb-item>
                <b-breadcrumb-item href="#"><router-link to="/pekerjaan"> Tabel Pekrjaan</router-link></b-breadcrumb-item>
                <b-breadcrumb-item href="#">Tambah Pekerjaan</b-breadcrumb-item>
        </b-breadcrumb>
        <b-card>
    <div class="field">
      <label class="label">Kode Pekrjaan</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Kode Pekerjaan"
          v-model="kode_pekerjaan"
        />
      </div>
    </div>
    <div class="field">
      <label class="label">Nama Pekerjaan</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Nama Pekerjaan"
          v-model="nama_pekerjaan"
        />
      </div>
    </div>
    <div class="control">
      <button class="button is-success" @click="createPekerjaan">SAVE</button>
    </div>
  Copyright © 2021 Made With ❤ in Cimahi By Syarifudin Yoga Pinasty
        </b-card>
        </b-container>
  </div>
</template>
 
<script>
// import axios
import axios from "axios";
import NavBarComponent from '../components/NavBarComponent.vue'
import SideBarComponent from '../components/SideBarComponent.vue'
export default {
  name: "AddPekerjaan",
  components: {
    NavBarComponent,
    SideBarComponent
  },
  data() {
    return {
      kode_pekerjaan: "",
      nama_pekerjaan: "",
    };
  },
  methods: {
    // Create New product
    async createPekerjaan() {
      try {
        await axios.post("http://localhost:5000/pekerjaan/add", {
          kode_pekerjaan: this.kode_pekerjaan,
          nama_pekerjaan: this.nama_pekerjaan,
        });
        this.kode_pekerjaan = "";
        this.nama_pekerjaan = "";
        this.$router.push("/pekerjaan");
      } catch (err) {
        console.log(err);
      }
    },
  },
  beforeMount () {
    const auth = localStorage.getItem('token')
      if(auth==null){
        alert("Silahkan Login Dulu")
        this.$router.push("/");
    }
  }
};
</script>
 
<style>
</style>