
<template>
  <div>
  <NavBarComponent/>
    <SideBarComponent/>
    <router-view></router-view>
  <b-container>
        <b-breadcrumb>
            <b-breadcrumb-item href="#">
                <b-icon icon="house-fill" aria-hidden="true"></b-icon><router-link to="/dashboard"> Dashboard</router-link></b-breadcrumb-item>
                <b-breadcrumb-item href="#"><router-link to="/siswa"> Tabel Siswa</router-link></b-breadcrumb-item>
                <b-breadcrumb-item href="#">Tambah Siswa</b-breadcrumb-item>
        </b-breadcrumb>
        <b-card>

            <div class="field">
                <label class="label">NIK</label>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Masukkan NIK" v-model="nik">
                </div>
                </div>
            </div>
            </div>

            <div class="field">
                <label class="label">Nama Lengkap</label>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Masukkan Nama Lengkap" v-model="nama_lengkap">
                </div>
                </div>
            </div>
            </div>

            <div class="field">
                <label class="label">Jenis Kelamin &nbsp;&nbsp;&nbsp;
                    <label class="radio">
                    <input type="radio" name="jenis_kelamin" id="Laki-Laki" value="Laki-Laki" v-model="jenis_kelamin">
                    Laki-Laki
                    </label>
                    <label class="radio">
                    <input type="radio" name="jenis_kelamin" id="Perempuan" value="Perempuan" v-model="jenis_kelamin">
                    Perempuan
                    </label>
                </label>
            </div>

            <div class="field">
                <label class="label">NISN</label>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Masukkan NISN" v-model="nisn">
                </div>
                </div>
            </div>
            </div>

            <div class="field">
                <label class="label">No Kitas</label>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Masukkan No Kitas" v-model="no_kitas">
                </div>
                </div>
            </div>
            </div>

            <div class="field">
                <label class="label">Tempat Lahir</label>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Masukkan Tempat Lahir" v-model="tempat_lahir">
                </div>
                </div>
            </div>
            </div>

            <div class="field">
                <label class="label">Tanggal Lahir</label>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input class="input" type="date" placeholder="Masukkan Tanggal Lahir" v-model="tanggal_lahir">
                </div>
                </div>
            </div>
            </div>

            <div class="field">
            <label class="label">Agama</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="agama" v-model="agama">
                    <option value="" hidden>--Pilih Agama--</option>
                    <option value="01">Islam</option>
                    <option value="02">Kristen/Protestan</option>
                    <option value="03">Katholik</option>
                    <option value="04">Hindu</option>
                    <option value="05">Budha</option>
                    <option value="06">Khong Hu Chu</option>
                    <option value="06">Lainnya</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
                <label class="label">Kewarganegaraan</label>
              <div class="field-body">
                <div class="field">
                  <label class="radio">
                  <input type="radio" name="kewarganegaraan" id="Indonesia (WNI)" value="Indonesia (WNI)" v-model="kewarganegaraan">
                  Indonesia (WNI)
                  </label>
                  <label class="radio">
                  <input type="radio" name="kewarganegaraan" id="Asing (WNA)" value="Asing (WNA)" v-model="kewarganegaraan">
                  Asing (WNA)
                  </label>
                </div>
              </div>
            </div>

            <div class="field">
                <label class="label">Nama Negara</label>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Masukkan Nama Negara" v-model="nama_negara">
                </div>
                </div>
            </div>
            </div>

            <div class="field">
            <label class="label">Berkebutuhan Khusus</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="" v-model="berkebutuhan_khusus">
                    <option value="" hidden>--Pilih Kebutuhan Khusus--</option>
                    <option value="01">Tidak</option>
                    <option value="02">Netra</option>
                    <option value="03">Rungu</option>
                    <option value="04">Grahita Ringan</option>
                    <option value="05">Grahita Sedang</option>
                    <option value="06">Daksa Ringan</option>
                    <option value="07">Daksa Sedang</option>
                    <option value="08">Laras</option>
                    <option value="09">Wicara</option>
                    <option value="10">Tuna Ganda</option>
                    <option value="11">Hiper Aktif</option>
                    <option value="12">Cerdas Istimewa</option>
                    <option value="13">Bakat Istimewa</option>
                    <option value="14">Kesulitan Belajar</option>
                    <option value="15">Narkoba</option>
                    <option value="16">Indigo</option>
                    <option value="17">Down Syndrome</option>
                    <option value="18">Autis</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
            <label class="label">Kode Alamat</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="no_kps" v-model="kode_alamat">
                    <option v-for="alm in alamat" :key="alm.kode_alamat" v-bind:value="alm.kode_alamat">{{alm.nama_dusun}}, {{alm.nama_kelurahan}}, {{alm.kecamatan}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
            <label class="label">Alamat Jalan</label>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea class="textarea" placeholder="Masukkan Alamat jalan" v-model="alamat_jalan"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
                <label class="label">RT</label>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Masukkan RT" v-model="rt">
                </div>
                </div>
            </div>
          </div>

          <div class="field">
                <label class="label">RW</label>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Masukkan RW" v-model="rw">
                </div>
                </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Tempat Tinggal</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="tempat_tinggal" v-model="tempat_tinggal">
                    <option value="" hidden>--Pilih Tempat Tinggal--</option>
                    <option value="1">Bersama Orangtua</option>
                    <option value="2">Wali</option>
                    <option value="3">Kos</option>
                    <option value="4">Asrama</option>
                    <option value="5">Panti Asuhan</option>
                    <option value="9">Lainnya</option>
                  </select>
                </div>
              </div>
          </div>

          <div class="field">
            <label class="label">Mode Transportasi</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="mode_transportasi" v-model="mode_transportasi">
                    <option value="" hidden>--Pilih Mode Transportasi--</option>
                    <option value="01">Jalan Kaki</option>
                    <option value="02">Kendaraan Pribadi</option>
                    <option value="03">Kendaraan Umum/Angkot/Pete-pete</option>
                    <option value="04">Jemputan Sekolah</option>
                    <option value="05">Kereta Api</option>
                    <option value="06">Ojek</option>
                    <option value="07">Andong/Bendi/Sado/Dokar/Delman/Beca</option>
                    <option value="08">Perahu Penyebrangan/Rakit/Getek</option>
                    <option value="99">Lainnya</option>
                  </select>
                </div>
              </div>
          </div>

          <div class="field">
            <label class="label">No KPS</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="no_kps" v-model="no_kps">
                    <option v-for="ks in kps" :key="ks.no_kps" v-bind:value="ks.no_kps">{{ks.no_kps}}</option>
                  </select>
                </div>
              </div>
            </div>

          <div class="field">
            <label class="label">Nama Tertera KIP</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="no_kps" v-model="no_kip">
                    <option v-for="ki in kip" :key="ki.nomor_kip" v-bind:value="ki.nomor_kip">{{ki.nama_tertera_kip}}</option>
                  </select>
                </div>
              </div>
            </div>

          <div class="field">
                <label class="label">Bank</label>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Masukkan Nama Bank" v-model="bank">
                </div>
                </div>
            </div>
          </div>

          <div class="field">
                <label class="label">Nomor Regis Akta Lahir</label>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Masukkan Nomor Regis Akta Lahir" v-model="nomor_regis_akta_lahir">
                </div>
                </div>
            </div>
          </div>

          <div class="field">
                <label class="label">Nomor Rek Bank</label>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Masukkan Nomor Rekening Bank" v-model="no_rek_bank">
                </div>
                </div>
            </div>
          </div>

          <div class="field">
                <label class="label">Nama Rekening</label>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Masukkan Nama Rekening Bank" v-model="nama_rekening">
                </div>
                </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Kode Ayah</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="kode_ayah" v-model="kode_ayah">
                    <option v-for="ay in ayah" :key="ay.kode_ayah" v-bind:value="ay.kode_ayah">{{ay.nama_ayah}}</option>
                  </select>
                </div>
              </div>
            </div>

          <div class="field">
            <label class="label">Kode Ibu</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="kode_ibu" v-model="kode_ibu">
                    <option v-for="ib in ibu" :key="ib.kode_ibu" v-bind:value="ib.kode_ibu">{{ib.nama_ibu}}</option>
                  </select>
                </div>
              </div>
            </div>

          <div class="field">
            <label class="label">Kode Wali</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="kode_wali" v-model="kode_wali">
                    <option v-for="wl in wali" :key="wl.kode_wali" v-bind:value="wl.kode_wali">{{wl.nama_wali}}</option>
                  </select>
                </div>
              </div>
            </div>

          <div class="field">
                <label class="label">Tinggi Badan</label>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input class="input" type="number" placeholder="Masukkan Tinggi Badan" v-model="tinggi_badan">
                </div>
                </div>
            </div>
          </div>

          <div class="field">
                <label class="label">Berat Badan</label>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input class="input" type="number" placeholder="Masukkan Berat Badan" v-model="berat_badan">
                </div>
                </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Jarak Ke Sekolah</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="jarak_ke_sekolah" v-model="jarak_ke_sekolah">
                    <option value="" hidden>--Pilih Jarak--</option>
                    <option value="Kurang dari 1 km">Kurang dari 1 km</option>
                    <option value="Lebih dari 1 km">Lebih dari 1 km</option>
                  </select>
                </div>
              </div>
            </div>

          <div class="field">
                <label class="label">Sebutkan Jarak</label>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input class="input" type="number" placeholder="Masukkan Jarak" v-model="sebutkan_jarak">
                </div>
                </div>
            </div>
          </div>

          <div class="field">
                <label class="label">Waktu Tempuh Dalam Jam</label>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input class="input" type="number" placeholder="Masukkan Waktu Tempuh Dalam Jam" v-model="waktu_tempuh_jam">
                </div>
                </div>
            </div>
          </div>

          <div class="field">
                <label class="label">Waktu Tempuh Dalam Menit</label>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input class="input" type="number" placeholder="Masukkan Waktu Tempuh Dalam Menit" v-model="waktu_tempuh_menit">
                </div>
                </div>
            </div>
          </div>

          <div class="field">
                <label class="label">Jumlah Saudara Kandung</label>
            <div class="field-body">
                <div class="field">
                <div class="control">
                    <input class="input" type="number" placeholder="Masukkan Junlah Saudara Kandung" v-model="jumlah_saudara_kandung">
                </div>
                </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Kode Prestasi</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="kode_prestasi" v-model="kode_prestasi">
                    <option v-for="pr in prestasi" :key="pr.kode_prestasi" v-bind:value="pr.kode_prestasi">{{pr.nama_prestasi}}</option>
                  </select>
                </div>
              </div>
            </div>

          <div class="field">
            <label class="label">Kode Beasiswa</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="kode_beasiswa" v-model="kode_beasiswa">
                    <option v-for="bea in beasiswa" :key="bea.kode_beasiswa" v-bind:value="bea.kode_beasiswa">{{bea.keterangan_beasiswa}}</option>
                  </select>
                </div>
              </div>
            </div>

          <div class="field">
            <label class="label">Kode Regis</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="kode_regis" v-model="kode_regis">
                    <option v-for="reg in regis" :key="reg.kode_regis" v-bind:value="reg.kode_regis">{{reg.kode_regis}}</option>
                  </select>
                </div>
              </div>
            </div>

          <div class="field">
            <label class="label">Nomor Peserta Ujian</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="kode_regis" v-model="nomor_peserta_ujian">
                    <option v-for="uj in ujian" :key="uj.nomor_peserta_ujian" v-bind:value="uj.nomor_peserta_ujian">{{uj.nomor_peserta_ujian}}</option>
                  </select>
                </div>
              </div>
            </div>

          <div class="field">
            <label class="label">Kode Keluar</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="kode_regis" v-model="kode_keluar">
                    <option v-for="kl in keluar" :key="kl.kode_keluar" v-bind:value="kl.kode_keluar">{{kl.kode_keluar}}</option>
                  </select>
                </div>
              </div>
            </div>          

          <div class="control">
        <button class="button is-success" @click="createPendidikan">SAVE</button>
      </div>
      Copyright © 2021 Made With ❤ in Cimahi By Syarifudin Yoga Pinasty
      </b-card>
    </b-container>
  </div>
</template>
 
<script>
// import axios
import axios from "axios";
import NavBarComponent from '../components/NavBarComponent.vue'
import SideBarComponent from '../components/SideBarComponent.vue'
export default {
  name: "AddSiswa",
  components: {
    NavBarComponent,
    SideBarComponent
  },
  data() {
    return {
      alamat: [],
      kps: [],
      kip: [],
      ayah: [],
      ibu: [],
      wali: [],
      prestasi: [],
      beasiswa: [],
      regis: [],
      ujian: [],
      keluar: [],
      nik: "",
      nama_lengkap: "",
      jenis_kelamin: "",
      nisn: "",
      no_kitas: "",
      tempat_lahir: "",
      tanggal_lahir: "",
      agama: "",
      kewarganegaraan: "",
      nama_negara: "",
      berkebutuhan_khusus: "",
      kode_alamat: "",
      alamat_jalan: "",
      rt: "",
      rw: "",
      tempat_tinggal: "",
      mode_transportasi: "",
      no_kps: "",
      no_kip: "",
      bank: "",
      nomor_regis_akta_lahir: "",
      no_rek_bank: "",
      nama_rekening: "",
      kode_ayah: "",
      kode_ibu: "",
      kode_wali: "",
      tinggi_badan: "",
      berat_badan: "",
      jarak_ke_sekolah: "",
      sebutkan_jarak: "",
      waktu_tempuh_jam: "",
      waktu_tempuh_menit: "",
      jumlah_saudara_kandung: "",
      kode_prestasi: "",
      kode_beasiswa: "",
      kode_regis: "",
      nomor_peserta_ujian: "",
      kode_keluar: ""
    };
  },
  created() {
    this.getAlamat();
    this.getKPS();
    this.getKIP();
    this.getAyah();
    this.getIbu();
    this.getWali();
    this.getPrestasi();
    this.getBeasiswa();
    this.getRegis();
    this.getUjian();
    this.getKeluar();
  },
  methods: {
    async getAlamat() {
      try {
        const response = await axios.get("http://localhost:5000/alamat/view");
        this.alamat = response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async getKPS() {
      try {
        const response = await axios.get("http://localhost:5000/kps/view");
        this.kps = response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async getKIP() {
      try {
        const response = await axios.get("http://localhost:5000/kip/view");
        this.kip = response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async getAyah() {
      try {
        const response = await axios.get("http://localhost:5000/ayah/view");
        this.ayah = response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async getIbu() {
      try {
        const response = await axios.get("http://localhost:5000/ibu/view");
        this.ibu = response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async getWali() {
      try {
        const response = await axios.get("http://localhost:5000/wali/view");
        this.wali = response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async getPrestasi() {
      try {
        const response = await axios.get("http://localhost:5000/prestasi/view");
        this.prestasi = response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async getBeasiswa() {
      try {
        const response = await axios.get("http://localhost:5000/beasiswa/view");
        this.beasiswa = response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async getRegis() {
      try {
        const response = await axios.get("http://localhost:5000/regis/view");
        this.regis = response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async getUjian() {
      try {
        const response = await axios.get("http://localhost:5000/ujian/view");
        this.ujian = response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async getKeluar() {
      try {
        const response = await axios.get("http://localhost:5000/keluar/view");
        this.keluar = response.data;
      } catch (err) {
        console.log(err);
      }
    },
    // Create New product
    async createPendidikan() {
      try {
        await axios.post("http://localhost:5000/siswa/add", {
          nik: this.nik,
          nama_lengkap: this.nama_lengkap,
          jenis_kelamin: this.jenis_kelamin,
          nisn: this.nisn,
          no_kitas: this.no_kitas,
          tempat_lahir: this.tempat_lahir,
          tanggal_lahir: this.tanggal_lahir,
          agama: this.agama,
          kewarganegaraan: this.kewarganegaraan,
          nama_negara: this.nama_negara,
          berkebutuhan_khusus: this.berkebutuhan_khusus,
          kode_alamat: this.kode_alamat,
          alamat_jalan: this.alamat_jalan,
          rt: this.rt,
          rw: this.rw,
          tempat_tinggal: this.tempat_tinggal,
          mode_transportasi: this.mode_transportasi,
          no_kps: this.no_kps,
          no_kip: this.no_kip,
          bank: this.bank,
          nomor_regis_akta_lahir: this.nomor_regis_akta_lahir,
          no_rek_bank: this.no_rek_bank,
          nama_rekening: this.nama_rekening,
          kode_ayah: this.kode_ayah,
          kode_ibu: this.kode_ibu,
          kode_wali: this.kode_wali,
          tinggi_badan: this.tinggi_badan,
          berat_badan: this.berat_badan,
          jarak_ke_sekolah: this.jarak_ke_sekolah,
          sebutkan_jarak: this.sebutkan_jarak,
          waktu_tempuh_jam: this.waktu_tempuh_jam,
          waktu_tempuh_menit: this.waktu_tempuh_menit,
          jumlah_saudara_kandung: this.jumlah_saudara_kandung,
          kode_prestasi: this.kode_prestasi,
          kode_beasiswa: this.kode_beasiswa,
          kode_regis: this.kode_regis,
          nomor_peserta_ujian: this.nomor_peserta_ujian,
          kode_keluar: this.kode_keluar,
        });
        this.nik= "";
        this.nama_lengkap= "";
        this.jenis_kelamin= "";
        this.nisn= "";
        this.no_kitas= "";
        this.tempat_lahir= "";
        this.tanggal_lahir= "";
        this.agama= "";
        this.kewarganegaraan= "";
        this.nama_negara= "";
        this.berkebutuhan_khusus= "";
        this.kode_alamat= "";
        this.alamat_jalan= "";
        this.rt= "";
        this.rw= "";
        this.tempat_tinggal= "";
        this.mode_transportasi= "";
        this.no_kps= "";
        this.no_kip= "";
        this.bank= "";
        this.nomor_regis_akta_lahir= "";
        this.no_rek_bank= "";
        this.nama_rekening= "";
        this.kode_ayah= "";
        this.kode_ibu= "";
        this.kode_wali= "";
        this.tinggi_badan= "";
        this.berat_badan= "";
        this.jarak_ke_sekolah= "";
        this.sebutkan_jarak= "";
        this.waktu_tempuh_jam= "";
        this.waktu_tempuh_menit= "";
        this.jumlah_saudara_kandung= "";
        this.kode_prestasi= "";
        this.kode_beasiswa= "";
        this.kode_regis= "";
        this.nomor_peserta_ujian= "";
        this.kode_keluar= "";
        this.$router.push("/siswa");
      } catch (err) {
        console.log(err);
      }
    },
  },
  beforeMount () {
    const auth = localStorage.getItem('token')
      if(auth==null){
        alert("Silahkan Login Dulu")
        this.$router.push("/");
    }
  }
};
</script>
 
<style>
</style>