<template>
  <div>
  <NavBarComponent/>
    <SideBarComponent/>
    <router-view></router-view>
  <b-container>
        <b-breadcrumb>
            <b-breadcrumb-item href="#">
                <b-icon icon="house-fill" aria-hidden="true"></b-icon><router-link to="/dashboard"> Dashboard</router-link></b-breadcrumb-item>
                <b-breadcrumb-item href="#"><router-link to="/wali"> Tabel Wali</router-link></b-breadcrumb-item>
                <b-breadcrumb-item href="#">Tambah Wali</b-breadcrumb-item>
        </b-breadcrumb>
        <b-card>
    <div class="field">
      <label class="label">Kode Wali</label>
      <div class="control">
        <input class="input" type="text" placeholder="Kode Wali" v-model="kode_wali" />
      </div>
    </div>
    <div class="field">
      <label class="label">Nama Wali</label>
      <div class="control">
        <input class="input" type="text" placeholder="Nama Wali" v-model="nama_wali" />
      </div>
    </div>
    <div class="field">
      <label class="label">NIK Wali</label>
      <div class="control">
        <input class="input" type="text" placeholder="NIK Wali" v-model="nik_wali" />
      </div>
    </div>
    <div class="field">
      <label class="label">Tahun Lahir Wali</label>
      <div class="control">
        <input class="input" type="number" placeholder="Tahun Lahir Wali" v-model="tahun_lahir_wali" />
      </div>
    </div>
    <div class="field">
        <label class="label">Kode Pendidikan</label>
            <div class="control is-expanded">
            <div class="select is-fullwidth">
                <select name="kode_pendidikan" v-model="kode_pendidikan">
                    <option v-for="pe in pendidikan" :key="pe.kode_pendidikan" v-bind:value="pe.kode_pendidikan">{{pe.nama_pendidikan}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Kode Pekerjaan</label>
            <div class="control is-expanded">
            <div class="select is-fullwidth">
                <select name="kode_pekerjaan" v-model="kode_pekerjaan">
                    <option v-for="kr in pekerjaan" :key="kr.kode_pekerjaan" v-bind:value="kr.kode_pekerjaan">{{kr.nama_pekerjaan}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Kode Penghasilan</label>
            <div class="control is-expanded">
            <div class="select is-fullwidth">
                <select name="kode_penghasilan" v-model="kode_penghasilan">
                    <option v-for="ph in penghasilan" :key="ph.kode_penghasilan" v-bind:value="ph.kode_penghasilan">{{ph.penghasilan_bulanan}}</option>
                </select>
            </div>
        </div>
    </div>
    
    <div class="control">
      <button class="button is-success" @click="createWali">SAVE</button>
    </div>
        Copyright © 2021 Made With ❤ in Cimahi By Syarifudin Yoga Pinasty
        </b-card>
        </b-container>
  </div>
</template>
 
<script>
// import axios
import axios from "axios";
import NavBarComponent from '../components/NavBarComponent.vue'
import SideBarComponent from '../components/SideBarComponent.vue'
export default {
  name: "AddWali",
  components: {
    NavBarComponent,
    SideBarComponent
  },
  data() {
    return {
        pendidikan: [],
        pekerjaan: [],
        penghasilan: [],
        kode_wali: "",
        nama_wali: "",
        nik_wali: "",
        tahun_lahir_wali: "",
        kode_pendidikan: "",
        kode_pekerjaan: "",
        kode_penghasilan: ""
    };
  },
  created() {
    this.getPendidikan();
    this.getPekerjaan();
    this.getPenghasilan();
  },
  methods: {
    // Get All Products
    async getPendidikan() {
      try {
        const response = await axios.get("http://localhost:5000/pendidikan/view");
        this.pendidikan = response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async getPekerjaan() {
      try {
        const response = await axios.get("http://localhost:5000/pekerjaan/view");
        this.pekerjaan = response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async getPenghasilan() {
      try {
        const response = await axios.get("http://localhost:5000/penghasilan/view");
        this.penghasilan = response.data;
      } catch (err) {
        console.log(err);
      }
    },
    // Create New product
    async createWali() {
      try {
        await axios.post("http://localhost:5000/wali/add", {
          kode_wali: this.kode_wali,
          nama_wali: this.nama_wali,
          nik_wali: this.nik_wali,
          tahun_lahir_wali: this.tahun_lahir_wali,
          kode_pendidikan: this.kode_pendidikan,
          kode_pekerjaan: this.kode_pekerjaan,
          kode_penghasilan: this.kode_penghasilan,
        });
        this.kode_wali= "",
        this.nama_wali= "",
        this.nik_wali= "",
        this.tahun_lahir_wali= "",
        this.kode_pendidikan= "",
        this.kode_pekerjaan= "",
        this.kode_penghasilan= "",
        this.$router.push("/wali");
      } catch (err) {
        console.log(err);
      }
    },
  },
  beforeMount () {
    const auth = localStorage.getItem('token')
      if(auth==null){
        alert("Silahkan Login Dulu")
        this.$router.push("/");
    }
  }
};
</script>
 
<style>
</style>