<template>
  <div id="Home">
    <NavBarComponent/>
    <SideBarComponent/>
    <router-view></router-view>
    <b-container>
      <b-breadcrumb>
        <b-breadcrumb-item href="#">
          <b-icon icon="house-fill" aria-hidden="true"></b-icon><router-link to="/dashboard"> Dashboard</router-link>
        </b-breadcrumb-item>
      </b-breadcrumb>
        <b-card>
          <b-calendar block locale="en-US"></b-calendar>
          <hr />
          <table class="table is-striped is-bordered mt-2">
            <thead>
                <tr>
                <th>Usia</th>
                <th>Jumlah</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items" :key="item.usia">
                <td>{{ item.usia }}</td>
                <td>{{ item.jumlah }}</td>
                </tr>
            </tbody>
            </table>
          <div>
             Copyright © 2021 Made With ❤ in Cimahi By Syarifudin Yoga Pinasty
          </div>
        </b-card>
    </b-container>
  </div>
</template>
<script>
import axios from "axios";
import NavBarComponent from '../components/NavBarComponent.vue'
import SideBarComponent from '../components/SideBarComponent.vue'
export default {
  name: 'Home',
    components: {
      NavBarComponent,
      SideBarComponent
    },
    data() {
    return {
    items: [],
    }
  },
  created() {
    this.getUsiaSiswa();
    this.$router.go(1);

  },
  methods: {
    // Get All Products
    async getUsiaSiswa() {
      try {
        const response = await axios.get("http://localhost:5000/siswa/usia");
        this.items = response.data;
      } catch (err) {
        console.log(err);
      }
    },
  },
  beforeMount () {
    const auth = localStorage.getItem('token')
      if(auth==null){
        alert("Silahkan Login Dulu")
        this.$router.push("/");
    }
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
