
<template>
  <div>
  <NavBarComponent/>
    <SideBarComponent/>
    <router-view></router-view>
  <b-container>
        <b-breadcrumb>
            <b-breadcrumb-item href="#">
                <b-icon icon="house-fill" aria-hidden="true"></b-icon><router-link to="/dashboard"> Dashboard</router-link></b-breadcrumb-item>
                <b-breadcrumb-item href="#"><router-link to="/pendidikan"> Tabel Pendidikan</router-link></b-breadcrumb-item>
                <b-breadcrumb-item href="#">Edit Pendidikan</b-breadcrumb-item>
        </b-breadcrumb>
        <b-card>
    <div class="field">
      <label class="label">Kode Pendidikan</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Kode Pendidikan"
          v-model="kode_pendidikan"
        />
      </div>
    </div>
 
    <div class="field">
      <label class="label">Nama Pendidikan</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Nama Pendidikan"
          v-model="nama_pendidikan"
        />
      </div>
    </div>
    <div class="control">
      <button class="button is-success" @click="updatePendidikan">UPDATE</button>
    </div>
     Copyright © 2021 Made With ❤ in Cimahi By Syarifudin Yoga Pinasty
        </b-card>
        </b-container>
  </div>
</template>
 
<script>
// import axios
import axios from "axios";
import NavBarComponent from '../components/NavBarComponent.vue'
import SideBarComponent from '../components/SideBarComponent.vue'
export default {
  name: "EditPendidikan",
  components: {
    NavBarComponent,
    SideBarComponent
  },
  data() {
    return {
      kode_pendidikan: "",
      nama_pendidikan: "",
    };
  },
  created: function () {
    this.getPendidikanById();
  },
  methods: {
    // Get Product By Id
    async getPendidikanById() {
      try {
        const response = await axios.get(
          `http://localhost:5000/pendidikan/view/${this.$route.params.id}`
        );
        this.kode_pendidikan = response.data.kode_pendidikan;
        this.nama_pendidikan = response.data.nama_pendidikan;
      } catch (err) {
        console.log(err);
      }
    },
 
    // Update product
    async updatePendidikan() {
      try {
        await axios.put(`http://localhost:5000/pendidikan/update/${this.$route.params.id}`,
          {
            kode_pendidikan: this.kode_pendidikan,
            nama_pendidikan: this.nama_pendidikan,
          }
        );
        this.kode_pendidikan = "";
        this.nama_pendidikan = "";
        this.$router.push("/pendidikan");
      } catch (err) {
        console.log(err);
      }
    },
  },
  beforeMount () {
    const auth = localStorage.getItem('token')
      if(auth==null){
        alert("Silahkan Login Dulu")
        this.$router.push("/");
    }
  }
};
</script>
 
<style>
</style>