<template>
  <div>
  <NavBarComponent/>
    <SideBarComponent/>
    <router-view></router-view>
  <b-container>
        <b-breadcrumb>
            <b-breadcrumb-item href="#">
                <b-icon icon="house-fill" aria-hidden="true"></b-icon><router-link to="/dashboard"> Dashboard</router-link></b-breadcrumb-item>
                <b-breadcrumb-item href="#"><router-link to="/ayah"> Tabel Ayah</router-link></b-breadcrumb-item>
                <b-breadcrumb-item href="#">Edit Ayah</b-breadcrumb-item>
        </b-breadcrumb>
        <b-card>
    <div class="field">
      <label class="label">Kode Ayah</label>
      <div class="control">
        <input class="input" type="text" placeholder="Kode Ayah" v-model="kode_ayah" />
      </div>
    </div>
    <div class="field">
      <label class="label">Nama Ayah</label>
      <div class="control">
        <input class="input" type="text" placeholder="Nama Ayah" v-model="nama_ayah" />
      </div>
    </div>
    <div class="field">
      <label class="label">NIK Ayah</label>
      <div class="control">
        <input class="input" type="text" placeholder="NIK Ayah" v-model="nik_ayah" />
      </div>
    </div>
    <div class="field">
      <label class="label">Tahun Lahir Ayah</label>
      <div class="control">
        <input class="input" type="number" placeholder="Tahun Lahir Ayah" v-model="tahun_lahir_ayah" />
      </div>
    </div>
    <div class="field">
        <label class="label">Kode Pendidikan</label>
            <div class="control is-expanded">
            <div class="select is-fullwidth">
                <select name="kode_pendidikan" v-model="kode_pendidikan">
                    <option v-for="pe in pendidikan" :key="pe.kode_pendidikan" v-bind:value="pe.kode_pendidikan">{{pe.nama_pendidikan}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Kode Pekerjaan</label>
            <div class="control is-expanded">
            <div class="select is-fullwidth">
                <select name="kode_pekerjaan" v-model="kode_pekerjaan">
                    <option v-for="pk in pekerjaan" :key="pk.kode_pekerjaan" v-bind:value="pk.kode_pekerjaan">{{pk.nama_pekerjaan}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Kode Penghasilan</label>
            <div class="control is-expanded">
            <div class="select is-fullwidth">
                <select name="kode_penghasilan" v-model="kode_penghasilan">
                    <option v-for="ph in penghasilan" :key="ph.kode_penghasilan" v-bind:value="ph.kode_penghasilan">{{ph.penghasilan_bulanan}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Kode Kebutuhan Khusus</label>
            <div class="control is-expanded">
            <div class="select is-fullwidth">
                <select name="kode_kebutuhan_khusus" v-model="kode_kebutuhan_khusus">
                    <option v-for="kb in kebutuhan" :key="kb.kode_kebutuhan_khusus" v-bind:value="kb.kode_kebutuhan_khusus">{{kb.berkebutuhan_khusus}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="control">
      <button class="button is-success" @click="updateAyah">SAVE</button>
    </div>
        Copyright © 2021 Made With ❤ in Cimahi By Syarifudin Yoga Pinasty
        </b-card>
        </b-container>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import NavBarComponent from '../components/NavBarComponent.vue'
import SideBarComponent from '../components/SideBarComponent.vue'
export default {
  name: "EditAyah",
  components: {
    NavBarComponent,
    SideBarComponent
  },
  data() {
    return {
        pendidikan: [],
        pekerjaan: [],
        penghasilan: [],
        kebutuhan: [],
        kode_ayah: "",
        nama_ayah: "",
        nik_ayah: "",
        tahun_lahir_ayah: "",
        kode_pendidikan: "",
        kode_pekerjaan: "",
        kode_penghasilan: "",
        kode_kebutuhan_khusus: "",
    };
  },
  created: function () {
    this.getAyahById();
    this.getPendidikan();
    this.getPekerjaan();
    this.getPenghasilan();
    this.getKebutuhanKhusus();
  },
  
  methods: {
      // Get All Products
    async getPendidikan() {
      try {
        const response = await axios.get("http://localhost:5000/pendidikan/view");
        this.pendidikan = response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async getPekerjaan() {
      try {
        const response = await axios.get("http://localhost:5000/pekerjaan/view");
        this.pekerjaan = response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async getPenghasilan() {
      try {
        const response = await axios.get("http://localhost:5000/penghasilan/view");
        this.penghasilan = response.data;
      } catch (err) {
        console.log(err);
      }
    },
    async getKebutuhanKhusus() {
      try {
        const response = await axios.get("http://localhost:5000/kebutuhanKhusus/view");
        this.kebutuhan = response.data;
      } catch (err) {
        console.log(err);
      }
    },
    // Get Product By Id
    async getAyahById() {
      try {
        const response = await axios.get(
          `http://localhost:5000/ayah/view/${this.$route.params.id}`
        );
        this.kode_ayah = response.data.kode_ayah;
        this.nama_ayah = response.data.nama_ayah;
        this.nik_ayah = response.data.nik_ayah;
        this.tahun_lahir_ayah = response.data.tahun_lahir_ayah;
        this.kode_pendidikan = response.data.kode_pendidikan;
        this.kode_pekerjaan = response.data.kode_pekerjaan;
        this.kode_penghasilan = response.data.kode_penghasilan;
        this.kode_kebutuhan_khusus = response.data.kode_kebutuhan_khusus;
      } catch (err) {
        console.log(err);
      }
    },
 
    // Update product
    async updateAyah() {
      try {
        await axios.put(`http://localhost:5000/ayah/update/${this.$route.params.id}`,
          {
            kode_ayah: this.kode_ayah,
            nama_ayah: this.nama_ayah,
            nik_ayah: this.nik_ayah,
            tahun_lahir_ayah: this.tahun_lahir_ayah,
            kode_pendidikan: this.kode_pendidikan,
            kode_pekerjaan: this.kode_pekerjaan,
            kode_penghasilan: this.kode_penghasilan,
            kode_kebutuhan_khusus: this.kode_kebutuhan_khusus,
          }
        );
        this.kode_ayah= "",
        this.nama_ayah= "",
        this.nik_ayah= "",
        this.tahun_lahir_ayah= "",
        this.kode_pendidikan= "",
        this.kode_pekerjaan= "",
        this.kode_penghasilan= "",
        this.kode_kebutuhan_khusus= "",
        this.$router.push("/ayah");
      } catch (err) {
        console.log(err);
      }
    },
  },
  beforeMount () {
    const auth = localStorage.getItem('token')
      if(auth==null){
        alert("Silahkan Login Dulu")
        this.$router.push("/");
    }
  }
};
</script>
 
<style>
</style>