<template>
  <div>
    <NavBarComponent/>
    <SideBarComponent/>
    <router-view></router-view>
    <b-container>
        <b-breadcrumb>
            <b-breadcrumb-item href="#">
                <b-icon icon="house-fill" aria-hidden="true"></b-icon><router-link to="/dashboard"> Dashboard</router-link></b-breadcrumb-item>
                <b-breadcrumb-item href="#"><router-link to="/ibu"> Tabel Ibu</router-link></b-breadcrumb-item>
        </b-breadcrumb>
        <b-card>
        <b-form @submit="searchIbu">
          <b-form-group id="input-group-1" label="Cari Nama/NIK Ibu:" label-for="input-1">
          <b-form-input id="input-1" v-model="id" type="text" placeholder="Masukkan Nama Ibu"></b-form-input>
        </b-form-group>

          <b-button type="submit" variant="primary">Search</b-button>
        </b-form>
        </b-card>
        <br />

        <b-card>
        <router-link :to="{ name: 'TambahIbu' }" class="button is-success">Tambah</router-link>
        <table class="table is-striped is-bordered mt-2">
            <thead>
                <tr>
                <th>Kode Ibu</th>
                <th>Nama Ibu</th>
                <th>NIK Ibu</th>
                <th>Tahun Lahir</th>
                <th class="has-text-centered">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items" :key="item.kode_ibu">
                <td>{{ item.kode_ibu }}</td>
                <td>{{ item.nama_ibu }}</td>
                <td>{{ item.nik_ibu }}</td>
                <td>{{ item.tahun_lahir_ibu }}</td>
                <td class="has-text-centered">
                    <router-link
                    :to="{ name: 'EditIbu', params: { id: item.kode_ibu } }"
                    class="button is-info is-small"
                    >Edit</router-link
                    >
                    <a
                    class="button is-danger is-small"
                    @click="deleteIbu(item.kode_ibu)"
                    >Delete</a
                    >
                </td>
                </tr>
            </tbody>
            </table>
            Copyright © 2021 Made With ❤ in Cimahi By Syarifudin Yoga Pinasty
        </b-card>
        </b-container>
        </div>
</template>
 
<script>
// import axios
import axios from "axios";
import NavBarComponent from '../components/NavBarComponent.vue'
import SideBarComponent from '../components/SideBarComponent.vue'
export default {
  name: "AyahList",
  components: {
    NavBarComponent,
    SideBarComponent
  },
  data() {
    return {
    items: [],
    }
  },
 
  created() {
    this.getIbu();
  },
 
  methods: {
    // Get All Products
    async getIbu() {
      try {
        const response = await axios.get("http://localhost:5000/ibu/view");
        this.items = response.data;
      } catch (err) {
        console.log(err);
      }
    },

    // Get All Products
    async searchIbu() {
          const response = await axios.get(`http://localhost:5000/ibu/search/${this.id}`);
          this.items = response.data;
          console.log(response);
    },
 
    // Delete Product
    async deleteIbu(id) {
      try {
        await axios.delete(`http://localhost:5000/ibu/delete/${id}`);
        this.getIbu();
      } catch (err) {
        console.log(err);
      }
    },
  },
  beforeMount () {
    const auth = localStorage.getItem('token')
      if(auth==null){
        alert("Silahkan Login Dulu")
        this.$router.push("/");
    }
  }
};
</script>
 
<style>
</style>
