<template>
  <div id="PendidikanList">
  <NavBarComponent/>
    <SideBarComponent/>
    <router-view></router-view>
    <b-container>
        <b-breadcrumb>
            <b-breadcrumb-item href="#">
                <b-icon icon="house-fill" aria-hidden="true"></b-icon><router-link to="/dashboard"> Dashboard</router-link></b-breadcrumb-item>
                <b-breadcrumb-item href="#"><router-link to="/pendidikan"> Tabel Pendidikan</router-link></b-breadcrumb-item>
        </b-breadcrumb>

        
        <b-form @submit="searchPendidikan">
          <b-form-group id="input-group-1" label="Nama Pendidikan:" label-for="input-1">
          <b-form-input id="input-1" v-model="id" type="text" placeholder="Masukkan Nama Pendidikan"></b-form-input>
        </b-form-group>

          <b-button type="submit" variant="primary">Submit</b-button>
        </b-form>
        <br />
        <b-card>
        <router-link :to="{ name: 'TambahPendidikan' }" class="button is-success">Tambah</router-link>
        <table class="table is-striped is-bordered mt-2">
            <thead>
                <tr>
                <th>Kode Pendidikan</th>
                <th>Nama Pendidikan</th>
                <th class="has-text-centered">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items" :key="item.kode_pendidikan">
                <td>{{ item.kode_pendidikan }}</td>
                <td>{{ item.nama_pendidikan }}</td>
                <td class="has-text-centered">
                    <router-link
                    :to="{ name: 'EditPendidikan', params: { id: item.kode_pendidikan } }"
                    class="button is-info is-small"
                    >Edit</router-link
                    >
                    <a
                    class="button is-danger is-small"
                    @click="deletePendidikan(item.kode_pendidikan)"
                    >Delete</a
                    >
                </td>
                </tr>
            </tbody>
            </table>
            Copyright © 2021 Made With ❤ in Cimahi By Syarifudin Yoga Pinasty
        </b-card>
        </b-container>
        </div>
</template>
 
<script>
// import axios
import axios from "axios";
import NavBarComponent from '../components/NavBarComponent.vue'
import SideBarComponent from '../components/SideBarComponent.vue'
export default {
  name: "PendidikanList",
  components: {
    NavBarComponent,
    SideBarComponent
  },
  data() {
    return {
    items: [],
    }
  },
 
  created() {
    this.getPendidikan();
  },
 
  methods: {
    // Get All Products
    async getPendidikan() {
      try {
        const response = await axios.get("http://localhost:5000/pendidikan/view");
        this.items = response.data;
      } catch (err) {
        console.log(err);
      }
    },
 
    // Get All Products
    async searchPendidikan() {
          const response = await axios.get("http://localhost:5000/pendidikan/search/"+this.id);
          this.items = response.data;
          console.log(response);
    },

    // Delete Product
    async deletePendidikan(id) {
      try {
        await axios.delete(`http://localhost:5000/pendidikan/delete/${id}`);
        this.getPendidikan();
      } catch (err) {
        console.log(err);
      }
    },
  },
  beforeMount () {
    const auth = localStorage.getItem('token')
      if(auth==null){
        alert("Silahkan Login Dulu")
        this.$router.push("/");
    }
  }
};
</script>
 
<style>
</style>
