<template>
  <div>
    <NavBarComponent/>
    <SideBarComponent/>
    <router-view></router-view>
    <b-container>
        <b-breadcrumb>
            <b-breadcrumb-item href="#">
                <b-icon icon="house-fill" aria-hidden="true"></b-icon><router-link to="/dashboard"> Dashboard</router-link></b-breadcrumb-item>
                <b-breadcrumb-item href="#"><router-link to="/siswa"> Tabel Siswa</router-link></b-breadcrumb-item>
        </b-breadcrumb>
        <b-card>
        <b-form @submit="searchSiswa">
          <b-form-group id="input-group-1" label="Cari NIK/Nama/NISN Siswa:" label-for="input-1">
          <b-form-input id="input-1" v-model="id" type="text" placeholder="Masukkan Nama Wali"></b-form-input>
        </b-form-group>

          <b-button type="submit" variant="primary">Submit</b-button>
        </b-form>
        </b-card>
        <br />
        <b-card>
        <router-link :to="{ name: 'TambahSiswa' }" class="button is-success">Tambah</router-link>
        <table class="table is-striped is-bordered mt-2">
            <thead>
                <tr>
                <th>NIK</th>
                <th>Nama</th>
                <th>JK</th>
                <th>TTL</th>
                <th>Nama Ayah</th>
                <th>Alamat Jalan</th>
                <th class="has-text-centered">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items" :key="item.nik">
                <td>{{ item.nik }}</td>
                <td>{{ item.nama_lengkap }}</td>
                <td>{{ item.jenis_kelamin }}</td>
                <td>{{ item.tempat_tanggal_lahir }}</td>
                <td>{{ item.nama_ayah }}</td>
                <td>{{ item.alamat_jalan }}</td>
                <td class="has-text-centered">
                    <router-link
                    :to="{ name: 'EditSiswa', params: { id: item.nik } }"
                    class="button is-info is-small"
                    >Edit</router-link
                    >
                    <a
                    class="button is-danger is-small"
                    @click="deleteSiswa(item.nik)"
                    >Delete</a
                    >
                </td>
                </tr>
            </tbody>
            </table>
            Copyright © 2021 Made With ❤ in Cimahi By Syarifudin Yoga Pinasty
        </b-card>
        </b-container>
        </div>
</template>
 
<script>
// import axios
import axios from "axios";
import NavBarComponent from '../components/NavBarComponent.vue'
import SideBarComponent from '../components/SideBarComponent.vue'
export default {
  name: "SiswaList",
  components: {
    NavBarComponent,
    SideBarComponent
  },
  data() {
    return {
    items: [],
    }
  },
 
  created() {
    this.getSiswa();
  },
 
  methods: {
    // Get All Products
    async getSiswa() {
      try {
        const response = await axios.get("http://localhost:5000/siswa/view");
        this.items = response.data;
      } catch (err) {
        console.log(err);
      }
    },
    // Get All Products
    async searchSiswa() {
          const response = await axios.get(`http://localhost:5000/siswa/search/${this.id}`);
          this.items = response.data;
          console.log(response);
    },
 
    // Delete Product
    async deleteSiswa(id) {
      try {
        await axios.delete(`http://localhost:5000/siswa/delete/${id}`);
        this.getSiswa();
      } catch (err) {
        console.log(err);
      }
    },
  },
  beforeMount () {
    const auth = localStorage.getItem('token')
      if(auth==null){
        alert("Silahkan Login Dulu")
        this.$router.push("/");
    }
  }
};
</script>
 
<style>
</style>
